.pill {
  font-size: 1.5rem;
  display: inline-flex;
  align-items: center;
  padding: 0.2rem 1rem;
  border-radius: 1.2rem;
  background-color: lavender;
  color: rgba(0, 0, 0, 0.84);
  margin-right: 10px;
}
.pill:not(:first-child) {
  margin-left: 0;
}
